:root {
  --primary-color: #f18f56;
  --accent-color: #b81d24;
  --background-color: #141414;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
  --border-radius: 10px;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  --font-family: 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background: linear-gradient(to bottom, var(--card-bg), var(--background-color));

  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root {
  max-width: 1200px;
  width: 95%;
  padding: 2rem;
  text-align: center;
}
.App {
margin-top: 200px;
}

/* Navigation styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--card-bg);
  padding: 1rem;
  margin-bottom: 2rem;
}

.navbar-menu {
  display: flex;
  justify-content: left;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  padding: 0;
  background: none;
  box-shadow: none;
}

.navbar-item a {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
}

.navbar-item a:hover {
  color: var(--primary-color);
}

.navbar-item a.active {
  background-color: var(--primary-color);
  color: var(--text-color);
}

input[type="text"] {
  position: sticky;
  top: 15px;
  width: 100%;
  max-width: 400px;
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--card-bg);
  outline: none;
  transition: border-color 0.3s ease;

}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input[type="text"]:focus {
  border-color: var(--accent-color);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.movie-poster {
  width: 150px;
  height: 225px;
  object-fit: cover;
}
/* Grille de films */
ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  row-gap: 3.5rem;
}

li {
  flex-direction: column;
  gap: 1rem;
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 1rem;
  text-align: left;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.add-btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}


@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
